{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiladiCode</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="container">
        {% if hero and hero.background_video %}
            <video class="back-vid" autoplay loop muted plays-inline src="{{ hero.background_video.url }}"></video>
        {% else %}
            <video class="back-vid" autoplay loop muted plays-inline src="{% static 'videos/galaxy.mp4' %}"></video>
        {% endif %}

        <header data-aos="fade-down" data-aos-duration="1000">
            <div class="left">
                <img src="{% static 'images/miladicode.png' %}" alt="logo">
                <h2><span style="color: #72a1dea2;">Miladi</span>Code</h2>
            </div>

            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#education">Education</a></li>
            </ul>

            <div class="box-icons">
                <p><i class='bx bxl-youtube'></i></p>
                <p><i class='bx bxl-github'></i></p>
                <p><i class='bx bxl-linkedin-square'></i></p>
            </div>

            <div class="menu-icon">
                <i class='bx bx-menu'></i>
            </div>            
        </header>

        <div class="sidebar">
            <div class="close-icon">
                <i class='bx bx-x'></i>
            </div>
            
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#education">Education</a></li>
            </ul>

            <div class="social-sidebar">
                <a><i class='bx bxl-youtube'></i></a>
                <a><i class='bx bxl-github'></i></a>
                <a><i class='bx bxl-linkedin-square'></i></a>
            </div>
        </div>

        <div class="blackhole-box" data-aos="fade-down" data-aos-duration="1000">
            <video autoplay loop muted plays-inline src="{% static 'videos/blackhole.mp4' %}"></video>
        </div>

        <section class="hero ">
            <div class="hero-info autoBlur" data-aos="fade-right" data-aos-duration="1000">
                <div class="hero-info-title" >
                    <i class='bx bxl-sketch'></i>
                    Front-end Developer Portfolio
                </div>

                {% if hero %}
                <h1 data-aos="fade-right" data-aos-duration="1200">
                    {{ hero.title_prefix }} <span class="gradient">{{ hero.gradient_text_1 }}</span> {{ hero.title_middle }} <span class="gradient">{{ hero.gradient_text_2 }}</span>
                </h1>
                <p>{{ hero.description }}</p>
                {% else %}
                <h1 data-aos="fade-right" data-aos-duration="1200">Providing <span class="gradient">the best</span> Project <span class="gradient">Experience</span></h1>
                <p>I'm a front-end developer with experience in Website, Mobile and Software development. Check out my projects and skills.</p>
                {% endif %}

                <button><i class='bx bx-send' ></i> Contact Me</button>
            </div>
            
            <div class="skills-video-box " >
                {% if hero and hero.hero_video %}
                    <video class="skills-video autoBlur" autoplay loop muted plays-inline src="{{ hero.hero_video.url }}"></video>
                {% else %}
                    <video class="skills-video autoBlur" autoplay loop muted plays-inline src="{% static 'videos/hero-video.mp4' %}"></video>
                {% endif %}
            </div>
        
            <div class="scroll-down"></div>
        </section>

        {% if about %}
        <section class="about-me">
            <div class="about-img-box">
                <img src="{{ about.image.url }}" alt="About Me">
            </div>
            <div class="about-info">
                <h1 class="gradient">{{ about.title }}</h1>
                <p>{{ about.description }}</p>
            </div>
        </section>
        {% endif %}

        <section class="info-section" id="about">
            <h1 class="section-title autoDisplay">Hello,There👋</h1>
            <div class="info-cards">
                <div class="card ">
                    <h1>Hi there, I'm Milad</h1>
                    <p>With 4 years of experience, I have honed my skills in both frontend and backend dev, creating dynamic and responsive websites.</p>
                
                    <img src="{% static 'images/grid1.png' %}" alt="" loading="lazy">
                </div>

                <div class="card">
                    <h1>Tech Stack</h1>
                    <p>I specialize in a variety of languages, frameworks, and tools that allow me to build robust and scalable applications.</p>
                
                    <img src="{% static 'images/grid2.png' %}" alt="" loading="lazy">
                </div>

                <div class="card">
                    <h1>I’m very flexible with time zone communications & locations</h1>
                    <p>I'm based in Italy, Bari and open to remote work worldwide.</p>
                
                    <video src="{% static 'videos/glob.mp4' %}" autoplay loop muted plays-inline></video>

                    <button><i class='bx bx-send'></i> Contact Me</button>
                </div>

                <div class="card">
                    <h1>My Passion for Coding</h1>
                    <p>I love solving problems and building things through code. Programming isn't just my profession—it's my passion. I enjoy exploring new technologies, and enhancing my skills.</p>
                
                    <img src="{% static 'images/grid4.png' %}" alt="" loading="lazy">
                </div>
            </div>
        </section>

        <section class="my-project" id="projects">
            <h1 class="section-title autoDisplay">My Projects 👨‍💻</h1>
            
            {% for project in projects %}
            <div class="project-card">
                <div class="project-vidbox autoBlur" >
                    {% if project.video %}
                        <video loop id="projectVideo{{ forloop.counter }}" src="{{ project.video.url }}"></video>
                    {% else %}
                        <video loop id="projectVideo{{ forloop.counter }}" src="{% static 'videos/project1.mp4' %}"></video>
                    {% endif %}
                    <div class="hover-sign"></div>
                </div>
                <div class="project-info fadein-left">
                    <h1>{{ project.title|safe }}</h1>
                    <p>{{ project.description }}</p>
                    {% if project.link %}
                        <a href="{{ project.link }}" target="_blank"><button><i class='bx bx-link-external' ></i> Website</button></a>
                    {% else %}
                        <button><i class='bx bx-link-external' ></i> Website</button>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p>No projects found. Add some in the admin panel!</p>
            {% endfor %}
        </section>

        <section class="skills-section" id="skills">
            <h1 class="section-title autoDisplay">
                My Skills 💪
            </h1>
            <div class="skills-box autoDisplay">
                <img class="skills-image" src="{% static 'images/digital brain (2).png' %}" alt="" loading="lazy">
                
                {% for skill in skills %}
                    {% if skill.category == 'designer' %}
                    <div class="Designer">
                        <h1 class="gradient">{{ skill.name }} <i class='bx bx-laptop'></i></h1>
                        <p>I have expertise in design tools and frontend technologies to create seamless user experiences.</p>    
                    </div>
                    {% elif skill.category == 'coder' %}
                    <div class="coder">
                        <h1 class="gradient">{{ skill.name }} <i class='bx bx-code-block' ></i></h1>
                        <p>I’m skilled in building robust and scalable applications using modern frameworks.</p>
                    </div>
                    {% endif %}
                {% endfor %}

                <div class="slider" reverse="true" style="--width: 100px; --height: 100px; --quantity: 9;">
                    <div class="list">
                        <div class="item" style="--position: 1"><img src="{% static 'images/1.png' %}" alt="" loading="lazy"></div>
                        <div class="item" style="--position: 2"><img src="{% static 'images/2.png' %}" alt="" loading="lazy"></div>
                        <div class="item" style="--position: 3"><img src="{% static 'images/3.webp' %}" alt="" loading="lazy"></div>
                        <div class="item" style="--position: 4"><img src="{% static 'images/4.webp' %}" alt="" loading="lazy"></div>
                        <div class="item" style="--position: 5"><img src="{% static 'images/5.png' %}" alt="" loading="lazy"></div>
                        <div class="item" style="--position: 6"><img src="{% static 'images/6.png' %}" alt="" loading="lazy"></div>
                        <div class="item" style="--position: 7"><img src="{% static 'images/7.png' %}" alt="" loading="lazy"></div>
                        <div class="item" style="--position: 8"><img src="{% static 'images/8.png' %}" alt="" loading="lazy"></div>
                        <div class="item" style="--position: 9"><img src="{% static 'images/9.png' %}" alt="" loading="lazy"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="education-section" id="education">
            <h1 class="section-title autoDisplay">My Education 🎓</h1>
            <div class="edu-grid">
                {% for edu in educations %}
                <div class="edu-card" data-aos="zoom-in" data-aos-duration="1000">
                    <h2>{{ edu.degree }}</h2>
                    <h3>{{ edu.institution }}</h3>
                    <p class="year">{{ edu.year }}</p>
                    <p>{{ edu.description }}</p>
                </div>
                {% empty %}
                <p>No education details added yet.</p>
                {% endfor %}
            </div>
        </section>

        <section class="contact-section ">
            <h1 class="section-title autoDisplay">Let's talk😊</h1>

            <div class="social-box autoBlur">
                <a href="#"><i class='bx bxs-phone'></i> +39 111 222 444</a>
                <a href="#"><i class='bx bxl-telegram' ></i> Contact Example.com</a>
                <a href="#"><i class='bx bxl-linkedin-square' ></i> Contact Example.com</a>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-youtube' ></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                    <a href="#"><i class='bx bxl-facebook-circle' ></i></a>
                </div>
            </div>

            <div class="contact-box autoBlur">
                <p>Wheter you're looking to build a new website, improve your existing platform, or bring a unique project to file. i'm here to help.</p>
            
                <form method="POST">
                    {% csrf_token %}
                    <p>Full Name</p>
                    <input name="full_name" placeholder="Your Full name" type="text" required>

                    <p>Email Address</p>
                    <input name="email" placeholder="Your Email" type="email" required>

                    <p>Your Message</p>
                    <textarea name="message" class="input-message" placeholder="share your thoughts..." required style="width: 80%; height: 100px; border-radius: 10px; padding: 10px;"></textarea>

                    <button type="submit">Send Message <i class='bx bx-mail-send'></i></button>
                </form>
            </div>
        
        </section> 

        <section class="footer">
            <h1>©️{% now "Y" %}, Made with ❤️ by MiladiCode</h1>
            <div class="box-icons">
                <p><i class='bx bxl-youtube'></i></p>
                <p><i class='bx bxl-github'></i></p>
                <p><i class='bx bxl-linkedin-square'></i></p>
            </div>
        </section>
        
    </div>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script >
      AOS.init();
    </script>
</body>
</html>
